.button {
    background-color: $color-btn;
    color: $color-text;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    cursor: pointer;
    &.active,
    &:hover {
        background-color: $color-active;
    }
}

.volume {
    background: url('../assets/volume.svg') center/cover no-repeat;
    width: 30px;
    height: 30px;
}

.mute {
    background: url('../assets/mute.svg') center/cover no-repeat;
    width: 30px;
    height: 30px;
}